.button-flex {
  display: flex;
  margin: 0px;
  padding: 0px;

  // @include mobile {
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;

  @include tablet {
    justify-content: center;
    margin-bottom: 30px;
  }

  @include desktop {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.button-flex .item:nth-child(-n + 3) {
  // @include mobile {
  margin-right: 8px;
  margin-bottom: 15px;
}

.button-flex .item:nth-child(4) {
  // @include mobile {
  margin-right: 8px;
}

.button-flex .item:nth-child(n + 1) {
  /*Перебили выше специфичность у телефона 15 рх + desktop*/
  @include tablet {
    margin-bottom: 0px;
  }
}
