@mixin icon {
  display: block;
  content: "";
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  margin-top: 20px;
  margin-left: 15px;
}

.section__form {
  background-image: url(../img/img-bgs/bg-2.jpg);
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 80px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px;
  @include desktop {
    padding-top: 210px;
    padding-bottom: 15px;
  }
}

.form__title {
  margin: 0;
  margin-bottom: 30px;
  @include desktop {
    margin-bottom: 40px;
  }
}
.form__box {
  @include desktop {
    min-width: 546px;
    max-width: 630px;
    margin: auto;
  }
}

.form__list {
  margin: 0;
  padding: 0;
  @include desktop {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
}

.item {
  margin-top: 30px;
  margin-bottom: 30px;
  // display: block;
  @include desktop {
    flex-basis: calc(100% / 2 - 15px);
  }
}

.form__input {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 60px;
  padding-left: 50px;
}

.form__input:focus {
  outline: none;
}

.form__input:hover {
  border-color: $accent-first-color;
}

.form__input::placeholder {
  text-overflow: ellipsis;
}
.select__option {
  background-color: $first-text-color;
  color: #5e5e5e;
}

.form__button-box {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 60px;
  @include desktop {
    margin-top: 30px;
    margin-bottom: 160px;
  }
}

.form__button {
  width: 100%;
  background: $accent-first-color;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid $accent-first-color;
  border-radius: 5px;

  transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @include desktop {
    width: 170px;
    height: 55px;
  }
}
.form__button:hover,
.form__button:focus {
  background-color: inherit;
  color: $accent-first-color;
  border: 1px solid $accent-first-color;
  border-radius: 5px;

  transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-text {
  margin: 0;
  padding: 0;
}

.link {
  color: $accent-first-color;
  text-decoration: underline;
}

.link:active {
  color: $accent-first-color;
}

.form__first-name::before {
  @include icon;
  background-image: url(../img/icons/first-name_icon.svg);
}

.form__second-name::before {
  @include icon;
  background-image: url(../img/icons/second-name_icon.svg);
}

.form__select::before {
  @include icon;
  background-image: url(../img/icons/country_icon.svg);
}

.form__tel::before {
  @include icon;
  background-image: url(../img/icons/phone_icon.svg);
}
.form__pass::before {
  @include icon;
  background-image: url(../img/icons/password_icon.svg);
}
.form__pass-confirm::before {
  @include icon;
  background-image: url(../img/icons/confirm-password_icon.svg);
}

.form__email::before {
  @include icon;
  background-image: url(../img/icons/email_icon.svg);
}
