/*-----------------------------------HEADER----------------------*/

.icon-link.email {
  color: $accent-text-color;
  display: inline-block;

  @include mobile-end {
    width: 16px;
    height: 11px;

    margin-right: 10px;
  }

  @include tablet {
    width: 14px;
    height: 10px;

    margin-right: 8px;
    margin-top: 1px;
  }

  @include desktop {
    width: 16px;
    height: 12px;

    margin-right: 10px;
  }
}

.icon-link.tel {
  color: $accent-text-color;
  display: inline-block;

  @include mobile-end {
    width: 10px;
    height: 15px;

    margin-right: 10px;
  }

  @include tablet {
    width: 10px;
    height: 14px;

    margin-right: 8px;
  }

  @include desktop {
    width: 10px;
    height: 16px;

    margin-right: 10px;
    // margin-bottom: 4px;
  }
}

.link-tel {
  @include desktop {
    padding-top: 3px;
  }
}

.link-email,
.link-tel {
  display: inline-flex;
  justify-content: center;
}

.link-email .icon-email,
.link-tel .icon-tel {
  // margin-right: 10px;

  fill: $secondary-text-color;
  /* background-color: violet; */

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-email:hover .icon-email,
.link-tel:hover .icon-tel {
  fill: currentColor;
}
