.link-nav {
  color: inherit;
}

.link-email,
.link-tel {
  color: $secondary-text-color;
  /* background-color: yellowgreen; */
}

.link-email {
  @include tablet {
    margin-bottom: 10px;
  }
  @include desktop {
    margin-bottom: 0px;
  }
}

.link-nav,
.link-email,
.link-tel {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav:hover,
.link-nav:focus,
.link-email:hover,
.link-email:focus,
.link-tel:hover,
.link-tel:focus {
  color: $accent-text-color;
}

.icon-email:hover,
.icon-email:focus,
.icon-tel:hover,
.icon-tel:focus {
  fill: $accent-text-color;
}

.link-nav.current {
  color: $accent-text-color;
}
