.section__registr {
  background-image: url(../img/img-bgs/bg-1.jpg);
  background-size: cover;
  height: 100vh;
  padding-top: 240px;
  padding-bottom: 215px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px;
  @include desktop {
    padding-top: 285px;
    padding-bottom: 285px;
  }
}

.registr__title {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  @include desktop {
    margin-bottom: 40px;
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
  }
}

.registr__title::before {
  display: block;
  content: "";
  background-size: cover;
  background-image: url(../img/logo.svg);
  width: 120px;
  height: 30px;
  margin: auto;
  margin-bottom: 20px;
  @include desktop {
    width: 190px;
    height: 50px;
    margin-bottom: 40px;
  }
}

.registr__button-box {
  display: flex;
  justify-content: center;
}

.registr__button {
  background-color: inherit;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  justify-content: center;
  border: 2px solid $accent-first-color;
  box-sizing: border-box;
  border-radius: 5px;

  transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @include desktop {
    width: 215px;
    height: 55px;
  }
}

.registr__button:hover,
.registr__button:focus {
  background-color: $accent-first-color;
  color: $second-text-color;
  transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.registr__link {
  text-decoration: none;
  color: inherit;
}
