@font-face {
  font-family: Rubik-Light;
  src: url(../fonts/Rubik-Light.ttf);
}
@font-face {
  font-family: Rubik-Medium;
  src: url(../fonts/Rubik-Medium.ttf);
}

.span {
  color: $accent-first-color;
}

// /*-------------------------------REGISTR--------------------------*/
.registr__title {
  color: $first-text-color;
  font-family: Rubik-Medium;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  @include desktop {
    font-size: 62px;
    line-height: 73px;
  }
}

.registr__button {
  color: $accent-first-color;
  font-family: Rubik-Medium;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  @include desktop {
    font-size: 19px;
    line-height: 23px;
  }
}

// /*-------------------------------FORM--------------------------*/
.form__title {
  color: $first-text-color;
  font-family: Rubik-Medium;
  font-style: normal;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  @include desktop {
    font-size: 24px;
    line-height: 28px;
  }
}

.form__input {
  color: $little-text-color;
}

.form__button {
  color: $second-text-color;
  font-family: Rubik-Medium;
  font-style: normal;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
}

.text {
  color: $little-text-color;
  font-family: Rubik-Light;
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}
