$first-text-color: #ffffff;
$second-text-color: #000000;
$little-text-color: #e0e0e0;
$accent-first-color: #6ceec7;
$accent-second-color: #67d9b7;

// $color-white: #ffffff;

// // $mobile: @media screen and (min-width: 320px);

// @mixin mobile {
//   @media screen and (min-width: 480px) {
//     @content;
//   }
// }

// @mixin mobile-end {
//   @media screen and (max-width: 767px) {
//     @content;
//  }
// }

// @mixin tablet {
//   @media screen and (min-width: 768px) {
//     @content;
//   }
// }

// @mixin tablet-end {
//   @media screen and (max-width: 1199px) {
//     @content;
//   }
// }

// @mixin desktop {
//   @media screen and (min-width: 1200px) {
//     @content;
//   }
// }
