$first-text-color: #ffffff;
$second-text-color: #000000;
$little-text-color: #e0e0e0;
$accent-first-color: #6ceec7;
$accent-second-color: #67d9b7;

@mixin desktop {
  @media screen and (min-width: 576px) {
    @content;
  }
}
