.banner {
  padding-top: 50px;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /*!!!!!!!!!*/

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/mobile-img-480@1x.jpg); /*!!!!!!!!!*/

  @include mobile {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/mobile-img-480@1x.jpg);
    background-size: contain; /*!!!!!!!!!*/
  }

  @include tablet {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/tablet-img-768@1x.jpg);
  }

  @include desktop {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/desktop-img-1600@1x.jpg);
    background-size: cover;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .banner {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/mobile-img-480@2x.jpg);

    @include mobile {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../img/mobile-img-480@2x.jpg);
    }

    @include tablet {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../img/tablet-img-768@2x.jpg);
    }

    @include desktop {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../img/desktop-img-1600@2x.jpg);
      background-size: cover;
    }
  }
}

/* -----------------------------------                            ГЕОМЕТРИЯ */

.banner .container {
  text-align: center;
}

.banner-name {
  margin: 0px;
}

.banner-button {
  display: inline-block;
  box-sizing: border-box;
  border-width: 0px;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin-top: 30px;
}
